.video-background_container {
  position: relative;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.6);
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.video-background_video-fallback-img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.video-background_overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;
  width: 100%;
}
@media (max-width: 600px) {
  .video-background_container {
    height: 90vh;
  }
  .video-background_video-fallback-img {
    height: 90vh;
    object-fit: cover;
  }
}

.video-background_video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.video-background_text-container {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
@media (max-width: 600px) {
  .video-background_text-container {
    top: 0;
    padding: 2rem 1rem;
  }
}

.video-background_product-desc {
  color: #eee;
  padding: 2rem;
  font-size: 2.75rem;
  margin: 2rem 0;
}
@media (max-width: 600px) {
  .video-background_product-desc {
    font-size: 1.8rem;
    padding: 1.3rem 0.5rem;
  }
}
@media (max-width: 350px) {
  .video-background_product-desc {
    padding: 0.5rem;
    font-size: 1.65rem;
  }
}

.video-background_company-tag {
  margin: 2rem 0;
  color: #eee;
  width: 100%;
  font-size: 3.25rem;
  padding: 2rem;
  margin: 0;
}
@media (max-width: 600px) {
  .video-background_company-tag {
    font-size: 2.35rem;
    padding: 1.3rem 0.5rem;
  }
}
@media (max-width: 350px) {
  .video-background_company-tag {
    padding: 0.5rem;
    font-size: 2.25rem;
  }
}

.video-background_company-brand {
  color: #eee;
  padding: 2rem;
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 600px) {
  .video-background_company-brand {
    padding: 1.3rem 0.5rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 350px) {
  .video-background_company-brand {
    padding: 0.5rem;
    margin: 2rem 0;
    font-size: 1.25rem;
  }
}
